[Unit]
Description=bpi-zero-wbuild one-time provisioning
ConditionPathExists=!/var/lib/bpi-zero-wbuild-firstboot.done
After=local-fs.target systemd-udev-trigger.service

[Service]
Type=oneshot
ExecStart=/bin/bash /root/bpi-zero-wbuild-firstboot.sh
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
