[Unit]
Description=bpi-zero-wbuild first-boot provisioning
After=local-fs.target systemd-udev-trigger.service

[Service]
Type=oneshot
ExecStart=/bin/bash /root/bpi-zero-wbuild-firstboot.sh
TimeoutStartSec=30min
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
