# ============================================================
#  bpi-zero-wbuild configuration
# ============================================================
#
# Fill in the fields below, save this file, then boot the board.
# You can edit this file on Windows, macOS, or Linux -- this
# partition is plain FAT32.
#
#   SSID       Wi-Fi network name (required)
#   PSK        WPA/WPA2/WPA3 passphrase, 8-63 characters (required)
#              Stored here in plain text, not encrypted.
#   COUNTRY    Two-letter ISO 3166-1 country code, e.g. CA, US, GB
#   HIDDEN     true or false -- set true if the SSID is not broadcast
#   TIMEZONE   IANA time zone name, e.g. America/Edmonton
#
# Lines starting with # are ignored. Only the LAST non-comment
# line for each key is used. To change TIMEZONE, uncomment one of
# the "# TIMEZONE=Area/City" lines below (remove the leading "# ")
# or just type over the default line.
# ------------------------------------------------------------

SSID=
PSK=
COUNTRY=CA
HIDDEN=false
TIMEZONE=America/Edmonton

# ------------------------------------------------------------
# All available time zones (commented out). Uncomment ONE line
# to use it instead of the default above -- remove the "# " at
# the start of the line. If more than one TIMEZONE= line is
# active, the LAST one wins.
# ------------------------------------------------------------

# --- Africa ---
# TIMEZONE=Africa/Abidjan
# TIMEZONE=Africa/Accra
# TIMEZONE=Africa/Addis_Ababa
# TIMEZONE=Africa/Algiers
# TIMEZONE=Africa/Asmara
# TIMEZONE=Africa/Bamako
# TIMEZONE=Africa/Bangui
# TIMEZONE=Africa/Banjul
# TIMEZONE=Africa/Bissau
# TIMEZONE=Africa/Blantyre
# TIMEZONE=Africa/Brazzaville
# TIMEZONE=Africa/Bujumbura
# TIMEZONE=Africa/Cairo
# TIMEZONE=Africa/Casablanca
# TIMEZONE=Africa/Ceuta
# TIMEZONE=Africa/Conakry
# TIMEZONE=Africa/Dakar
# TIMEZONE=Africa/Dar_es_Salaam
# TIMEZONE=Africa/Djibouti
# TIMEZONE=Africa/Douala
# TIMEZONE=Africa/El_Aaiun
# TIMEZONE=Africa/Freetown
# TIMEZONE=Africa/Gaborone
# TIMEZONE=Africa/Harare
# TIMEZONE=Africa/Johannesburg
# TIMEZONE=Africa/Juba
# TIMEZONE=Africa/Kampala
# TIMEZONE=Africa/Khartoum
# TIMEZONE=Africa/Kigali
# TIMEZONE=Africa/Kinshasa
# TIMEZONE=Africa/Lagos
# TIMEZONE=Africa/Libreville
# TIMEZONE=Africa/Lome
# TIMEZONE=Africa/Luanda
# TIMEZONE=Africa/Lubumbashi
# TIMEZONE=Africa/Lusaka
# TIMEZONE=Africa/Malabo
# TIMEZONE=Africa/Maputo
# TIMEZONE=Africa/Maseru
# TIMEZONE=Africa/Mbabane
# TIMEZONE=Africa/Mogadishu
# TIMEZONE=Africa/Monrovia
# TIMEZONE=Africa/Nairobi
# TIMEZONE=Africa/Ndjamena
# TIMEZONE=Africa/Niamey
# TIMEZONE=Africa/Nouakchott
# TIMEZONE=Africa/Ouagadougou
# TIMEZONE=Africa/Porto-Novo
# TIMEZONE=Africa/Sao_Tome
# TIMEZONE=Africa/Timbuktu
# TIMEZONE=Africa/Tripoli
# TIMEZONE=Africa/Tunis
# TIMEZONE=Africa/Windhoek

# --- America ---
# TIMEZONE=America/Adak
# TIMEZONE=America/Anchorage
# TIMEZONE=America/Anguilla
# TIMEZONE=America/Antigua
# TIMEZONE=America/Araguaina
# TIMEZONE=America/Argentina/Buenos_Aires
# TIMEZONE=America/Argentina/Catamarca
# TIMEZONE=America/Argentina/Cordoba
# TIMEZONE=America/Argentina/Jujuy
# TIMEZONE=America/Argentina/La_Rioja
# TIMEZONE=America/Argentina/Mendoza
# TIMEZONE=America/Argentina/Rio_Gallegos
# TIMEZONE=America/Argentina/Salta
# TIMEZONE=America/Argentina/San_Juan
# TIMEZONE=America/Argentina/San_Luis
# TIMEZONE=America/Argentina/Tucuman
# TIMEZONE=America/Argentina/Ushuaia
# TIMEZONE=America/Aruba
# TIMEZONE=America/Asuncion
# TIMEZONE=America/Atikokan
# TIMEZONE=America/Atka
# TIMEZONE=America/Bahia
# TIMEZONE=America/Bahia_Banderas
# TIMEZONE=America/Barbados
# TIMEZONE=America/Belem
# TIMEZONE=America/Belize
# TIMEZONE=America/Blanc-Sablon
# TIMEZONE=America/Boa_Vista
# TIMEZONE=America/Bogota
# TIMEZONE=America/Boise
# TIMEZONE=America/Cambridge_Bay
# TIMEZONE=America/Campo_Grande
# TIMEZONE=America/Cancun
# TIMEZONE=America/Caracas
# TIMEZONE=America/Cayenne
# TIMEZONE=America/Cayman
# TIMEZONE=America/Chicago
# TIMEZONE=America/Chihuahua
# TIMEZONE=America/Ciudad_Juarez
# TIMEZONE=America/Coral_Harbour
# TIMEZONE=America/Costa_Rica
# TIMEZONE=America/Coyhaique
# TIMEZONE=America/Creston
# TIMEZONE=America/Cuiaba
# TIMEZONE=America/Curacao
# TIMEZONE=America/Danmarkshavn
# TIMEZONE=America/Dawson
# TIMEZONE=America/Dawson_Creek
# TIMEZONE=America/Denver
# TIMEZONE=America/Detroit
# TIMEZONE=America/Dominica
# TIMEZONE=America/Edmonton
# TIMEZONE=America/Eirunepe
# TIMEZONE=America/El_Salvador
# TIMEZONE=America/Ensenada
# TIMEZONE=America/Fort_Nelson
# TIMEZONE=America/Fortaleza
# TIMEZONE=America/Glace_Bay
# TIMEZONE=America/Goose_Bay
# TIMEZONE=America/Grand_Turk
# TIMEZONE=America/Grenada
# TIMEZONE=America/Guadeloupe
# TIMEZONE=America/Guatemala
# TIMEZONE=America/Guayaquil
# TIMEZONE=America/Guyana
# TIMEZONE=America/Halifax
# TIMEZONE=America/Havana
# TIMEZONE=America/Hermosillo
# TIMEZONE=America/Indiana/Indianapolis
# TIMEZONE=America/Indiana/Knox
# TIMEZONE=America/Indiana/Marengo
# TIMEZONE=America/Indiana/Petersburg
# TIMEZONE=America/Indiana/Tell_City
# TIMEZONE=America/Indiana/Vevay
# TIMEZONE=America/Indiana/Vincennes
# TIMEZONE=America/Indiana/Winamac
# TIMEZONE=America/Inuvik
# TIMEZONE=America/Iqaluit
# TIMEZONE=America/Jamaica
# TIMEZONE=America/Juneau
# TIMEZONE=America/Kentucky/Louisville
# TIMEZONE=America/Kentucky/Monticello
# TIMEZONE=America/Kralendijk
# TIMEZONE=America/La_Paz
# TIMEZONE=America/Lima
# TIMEZONE=America/Los_Angeles
# TIMEZONE=America/Lower_Princes
# TIMEZONE=America/Maceio
# TIMEZONE=America/Managua
# TIMEZONE=America/Manaus
# TIMEZONE=America/Marigot
# TIMEZONE=America/Martinique
# TIMEZONE=America/Matamoros
# TIMEZONE=America/Mazatlan
# TIMEZONE=America/Menominee
# TIMEZONE=America/Merida
# TIMEZONE=America/Metlakatla
# TIMEZONE=America/Mexico_City
# TIMEZONE=America/Miquelon
# TIMEZONE=America/Moncton
# TIMEZONE=America/Monterrey
# TIMEZONE=America/Montevideo
# TIMEZONE=America/Montreal
# TIMEZONE=America/Montserrat
# TIMEZONE=America/Nassau
# TIMEZONE=America/New_York
# TIMEZONE=America/Nipigon
# TIMEZONE=America/Nome
# TIMEZONE=America/Noronha
# TIMEZONE=America/North_Dakota/Beulah
# TIMEZONE=America/North_Dakota/Center
# TIMEZONE=America/North_Dakota/New_Salem
# TIMEZONE=America/Nuuk
# TIMEZONE=America/Ojinaga
# TIMEZONE=America/Panama
# TIMEZONE=America/Pangnirtung
# TIMEZONE=America/Paramaribo
# TIMEZONE=America/Phoenix
# TIMEZONE=America/Port-au-Prince
# TIMEZONE=America/Port_of_Spain
# TIMEZONE=America/Porto_Acre
# TIMEZONE=America/Porto_Velho
# TIMEZONE=America/Puerto_Rico
# TIMEZONE=America/Punta_Arenas
# TIMEZONE=America/Rainy_River
# TIMEZONE=America/Rankin_Inlet
# TIMEZONE=America/Recife
# TIMEZONE=America/Regina
# TIMEZONE=America/Resolute
# TIMEZONE=America/Rio_Branco
# TIMEZONE=America/Santa_Isabel
# TIMEZONE=America/Santarem
# TIMEZONE=America/Santiago
# TIMEZONE=America/Santo_Domingo
# TIMEZONE=America/Sao_Paulo
# TIMEZONE=America/Scoresbysund
# TIMEZONE=America/Shiprock
# TIMEZONE=America/Sitka
# TIMEZONE=America/St_Barthelemy
# TIMEZONE=America/St_Johns
# TIMEZONE=America/St_Kitts
# TIMEZONE=America/St_Lucia
# TIMEZONE=America/St_Thomas
# TIMEZONE=America/St_Vincent
# TIMEZONE=America/Swift_Current
# TIMEZONE=America/Tegucigalpa
# TIMEZONE=America/Thule
# TIMEZONE=America/Thunder_Bay
# TIMEZONE=America/Tijuana
# TIMEZONE=America/Toronto
# TIMEZONE=America/Tortola
# TIMEZONE=America/Vancouver
# TIMEZONE=America/Virgin
# TIMEZONE=America/Whitehorse
# TIMEZONE=America/Winnipeg
# TIMEZONE=America/Yakutat
# TIMEZONE=America/Yellowknife

# --- Antarctica ---
# TIMEZONE=Antarctica/Casey
# TIMEZONE=Antarctica/Davis
# TIMEZONE=Antarctica/DumontDUrville
# TIMEZONE=Antarctica/Macquarie
# TIMEZONE=Antarctica/Mawson
# TIMEZONE=Antarctica/McMurdo
# TIMEZONE=Antarctica/Palmer
# TIMEZONE=Antarctica/Rothera
# TIMEZONE=Antarctica/Syowa
# TIMEZONE=Antarctica/Troll
# TIMEZONE=Antarctica/Vostok

# --- Arctic ---
# TIMEZONE=Arctic/Longyearbyen

# --- Asia ---
# TIMEZONE=Asia/Aden
# TIMEZONE=Asia/Almaty
# TIMEZONE=Asia/Amman
# TIMEZONE=Asia/Anadyr
# TIMEZONE=Asia/Aqtau
# TIMEZONE=Asia/Aqtobe
# TIMEZONE=Asia/Ashgabat
# TIMEZONE=Asia/Atyrau
# TIMEZONE=Asia/Baghdad
# TIMEZONE=Asia/Bahrain
# TIMEZONE=Asia/Baku
# TIMEZONE=Asia/Bangkok
# TIMEZONE=Asia/Barnaul
# TIMEZONE=Asia/Beirut
# TIMEZONE=Asia/Bishkek
# TIMEZONE=Asia/Brunei
# TIMEZONE=Asia/Chita
# TIMEZONE=Asia/Choibalsan
# TIMEZONE=Asia/Chongqing
# TIMEZONE=Asia/Colombo
# TIMEZONE=Asia/Damascus
# TIMEZONE=Asia/Dhaka
# TIMEZONE=Asia/Dili
# TIMEZONE=Asia/Dubai
# TIMEZONE=Asia/Dushanbe
# TIMEZONE=Asia/Famagusta
# TIMEZONE=Asia/Gaza
# TIMEZONE=Asia/Harbin
# TIMEZONE=Asia/Hebron
# TIMEZONE=Asia/Ho_Chi_Minh
# TIMEZONE=Asia/Hong_Kong
# TIMEZONE=Asia/Hovd
# TIMEZONE=Asia/Irkutsk
# TIMEZONE=Asia/Istanbul
# TIMEZONE=Asia/Jakarta
# TIMEZONE=Asia/Jayapura
# TIMEZONE=Asia/Jerusalem
# TIMEZONE=Asia/Kabul
# TIMEZONE=Asia/Kamchatka
# TIMEZONE=Asia/Karachi
# TIMEZONE=Asia/Kashgar
# TIMEZONE=Asia/Kathmandu
# TIMEZONE=Asia/Khandyga
# TIMEZONE=Asia/Kolkata
# TIMEZONE=Asia/Krasnoyarsk
# TIMEZONE=Asia/Kuala_Lumpur
# TIMEZONE=Asia/Kuching
# TIMEZONE=Asia/Kuwait
# TIMEZONE=Asia/Macau
# TIMEZONE=Asia/Magadan
# TIMEZONE=Asia/Makassar
# TIMEZONE=Asia/Manila
# TIMEZONE=Asia/Muscat
# TIMEZONE=Asia/Nicosia
# TIMEZONE=Asia/Novokuznetsk
# TIMEZONE=Asia/Novosibirsk
# TIMEZONE=Asia/Omsk
# TIMEZONE=Asia/Oral
# TIMEZONE=Asia/Phnom_Penh
# TIMEZONE=Asia/Pontianak
# TIMEZONE=Asia/Pyongyang
# TIMEZONE=Asia/Qatar
# TIMEZONE=Asia/Qostanay
# TIMEZONE=Asia/Qyzylorda
# TIMEZONE=Asia/Riyadh
# TIMEZONE=Asia/Sakhalin
# TIMEZONE=Asia/Samarkand
# TIMEZONE=Asia/Seoul
# TIMEZONE=Asia/Shanghai
# TIMEZONE=Asia/Singapore
# TIMEZONE=Asia/Srednekolymsk
# TIMEZONE=Asia/Taipei
# TIMEZONE=Asia/Tashkent
# TIMEZONE=Asia/Tbilisi
# TIMEZONE=Asia/Tehran
# TIMEZONE=Asia/Tel_Aviv
# TIMEZONE=Asia/Thimphu
# TIMEZONE=Asia/Tokyo
# TIMEZONE=Asia/Tomsk
# TIMEZONE=Asia/Ulaanbaatar
# TIMEZONE=Asia/Urumqi
# TIMEZONE=Asia/Ust-Nera
# TIMEZONE=Asia/Vientiane
# TIMEZONE=Asia/Vladivostok
# TIMEZONE=Asia/Yakutsk
# TIMEZONE=Asia/Yangon
# TIMEZONE=Asia/Yekaterinburg
# TIMEZONE=Asia/Yerevan

# --- Atlantic ---
# TIMEZONE=Atlantic/Azores
# TIMEZONE=Atlantic/Bermuda
# TIMEZONE=Atlantic/Canary
# TIMEZONE=Atlantic/Cape_Verde
# TIMEZONE=Atlantic/Faroe
# TIMEZONE=Atlantic/Jan_Mayen
# TIMEZONE=Atlantic/Madeira
# TIMEZONE=Atlantic/Reykjavik
# TIMEZONE=Atlantic/South_Georgia
# TIMEZONE=Atlantic/St_Helena
# TIMEZONE=Atlantic/Stanley

# --- Australia ---
# TIMEZONE=Australia/Adelaide
# TIMEZONE=Australia/Brisbane
# TIMEZONE=Australia/Broken_Hill
# TIMEZONE=Australia/Canberra
# TIMEZONE=Australia/Currie
# TIMEZONE=Australia/Darwin
# TIMEZONE=Australia/Eucla
# TIMEZONE=Australia/Hobart
# TIMEZONE=Australia/Lindeman
# TIMEZONE=Australia/Lord_Howe
# TIMEZONE=Australia/Melbourne
# TIMEZONE=Australia/Perth
# TIMEZONE=Australia/Sydney
# TIMEZONE=Australia/Yancowinna

# --- Etc ---
# TIMEZONE=Etc/Greenwich
# TIMEZONE=Etc/UCT
# TIMEZONE=Etc/UTC
# TIMEZONE=Etc/Universal
# TIMEZONE=Etc/Zulu

# --- Europe ---
# TIMEZONE=Europe/Amsterdam
# TIMEZONE=Europe/Andorra
# TIMEZONE=Europe/Astrakhan
# TIMEZONE=Europe/Athens
# TIMEZONE=Europe/Belfast
# TIMEZONE=Europe/Belgrade
# TIMEZONE=Europe/Berlin
# TIMEZONE=Europe/Bratislava
# TIMEZONE=Europe/Brussels
# TIMEZONE=Europe/Bucharest
# TIMEZONE=Europe/Budapest
# TIMEZONE=Europe/Busingen
# TIMEZONE=Europe/Chisinau
# TIMEZONE=Europe/Copenhagen
# TIMEZONE=Europe/Dublin
# TIMEZONE=Europe/Gibraltar
# TIMEZONE=Europe/Guernsey
# TIMEZONE=Europe/Helsinki
# TIMEZONE=Europe/Isle_of_Man
# TIMEZONE=Europe/Istanbul
# TIMEZONE=Europe/Jersey
# TIMEZONE=Europe/Kaliningrad
# TIMEZONE=Europe/Kirov
# TIMEZONE=Europe/Kyiv
# TIMEZONE=Europe/Lisbon
# TIMEZONE=Europe/Ljubljana
# TIMEZONE=Europe/London
# TIMEZONE=Europe/Luxembourg
# TIMEZONE=Europe/Madrid
# TIMEZONE=Europe/Malta
# TIMEZONE=Europe/Mariehamn
# TIMEZONE=Europe/Minsk
# TIMEZONE=Europe/Monaco
# TIMEZONE=Europe/Moscow
# TIMEZONE=Europe/Nicosia
# TIMEZONE=Europe/Oslo
# TIMEZONE=Europe/Paris
# TIMEZONE=Europe/Podgorica
# TIMEZONE=Europe/Prague
# TIMEZONE=Europe/Riga
# TIMEZONE=Europe/Rome
# TIMEZONE=Europe/Samara
# TIMEZONE=Europe/San_Marino
# TIMEZONE=Europe/Sarajevo
# TIMEZONE=Europe/Saratov
# TIMEZONE=Europe/Simferopol
# TIMEZONE=Europe/Skopje
# TIMEZONE=Europe/Sofia
# TIMEZONE=Europe/Stockholm
# TIMEZONE=Europe/Tallinn
# TIMEZONE=Europe/Tirane
# TIMEZONE=Europe/Tiraspol
# TIMEZONE=Europe/Ulyanovsk
# TIMEZONE=Europe/Vaduz
# TIMEZONE=Europe/Vatican
# TIMEZONE=Europe/Vienna
# TIMEZONE=Europe/Vilnius
# TIMEZONE=Europe/Volgograd
# TIMEZONE=Europe/Warsaw
# TIMEZONE=Europe/Zagreb
# TIMEZONE=Europe/Zurich

# --- Indian ---
# TIMEZONE=Indian/Antananarivo
# TIMEZONE=Indian/Chagos
# TIMEZONE=Indian/Christmas
# TIMEZONE=Indian/Cocos
# TIMEZONE=Indian/Comoro
# TIMEZONE=Indian/Kerguelen
# TIMEZONE=Indian/Mahe
# TIMEZONE=Indian/Maldives
# TIMEZONE=Indian/Mauritius
# TIMEZONE=Indian/Mayotte
# TIMEZONE=Indian/Reunion

# --- Pacific ---
# TIMEZONE=Pacific/Apia
# TIMEZONE=Pacific/Auckland
# TIMEZONE=Pacific/Bougainville
# TIMEZONE=Pacific/Chatham
# TIMEZONE=Pacific/Chuuk
# TIMEZONE=Pacific/Easter
# TIMEZONE=Pacific/Efate
# TIMEZONE=Pacific/Fakaofo
# TIMEZONE=Pacific/Fiji
# TIMEZONE=Pacific/Funafuti
# TIMEZONE=Pacific/Galapagos
# TIMEZONE=Pacific/Gambier
# TIMEZONE=Pacific/Guadalcanal
# TIMEZONE=Pacific/Guam
# TIMEZONE=Pacific/Honolulu
# TIMEZONE=Pacific/Johnston
# TIMEZONE=Pacific/Kanton
# TIMEZONE=Pacific/Kiritimati
# TIMEZONE=Pacific/Kosrae
# TIMEZONE=Pacific/Kwajalein
# TIMEZONE=Pacific/Majuro
# TIMEZONE=Pacific/Marquesas
# TIMEZONE=Pacific/Midway
# TIMEZONE=Pacific/Nauru
# TIMEZONE=Pacific/Niue
# TIMEZONE=Pacific/Norfolk
# TIMEZONE=Pacific/Noumea
# TIMEZONE=Pacific/Pago_Pago
# TIMEZONE=Pacific/Palau
# TIMEZONE=Pacific/Pitcairn
# TIMEZONE=Pacific/Pohnpei
# TIMEZONE=Pacific/Port_Moresby
# TIMEZONE=Pacific/Rarotonga
# TIMEZONE=Pacific/Saipan
# TIMEZONE=Pacific/Samoa
# TIMEZONE=Pacific/Tahiti
# TIMEZONE=Pacific/Tarawa
# TIMEZONE=Pacific/Tongatapu
# TIMEZONE=Pacific/Wake
# TIMEZONE=Pacific/Wallis
# TIMEZONE=Pacific/Yap

# --- UTC ---
# TIMEZONE=UTC
